@media screen and (min-width: 310px) and (max-width: 430px) {
    .hero {
        background-image: url(images/think1.webp);
        background-size: cover;
        background-position: center;

        display: flex;
        justify-content: flex-start;

        padding-top: 1rem;
    }

    .bubble {
        display: none;
    }

    .intro {
        margin-left: 2rem;
    }

    .hero__header {
        font-size: 28px;
      }
      
      .hero__subheading {
        font-size: 18px;
      }

      .projects {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .about {
        width: 100%;
      }

      .about__info {
        padding-right: .5rem;
        padding-left: .5rem;
        padding-bottom: .5rem;
      }

      .about__me {
        display: flex;
        flex-direction: column;
        gap: .5rem;
      }

      .about__meBody:nth-child(1) {
        padding: 0;
      }

      .about__image {
        width: 95%;
        height: 95%;
        margin: .5rem auto;
      }

}


@media screen and (min-width: 431px) and (max-width: 750px) {
    .bubble {
    display: none;    
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }

      .hero {
        background-image: url(images/think1.png);
        background-size: cover;

        display: flex;
        justify-content: flex-start;

        /* padding-top: 1rem; */
    }

    .intro {
        margin-left: 2rem;
    }

    .hero__header {
        font-size: 32px;
      }
      
      .hero__subheading {
        font-size: 18px;
      }
}