@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* :root {

} */

* {
    margin:0;
    padding: 0;
}

body {
    margin: 1rem;

    background: linear-gradient(133deg,#282828 ,#2d2d2d,#383838);
}

/* Hero */
.hero {
    box-shadow: 
    inset -8px -8px 20px #69359c,
    inset 4px 4px 20px #FF10F0;
    border-radius: 20px;
    background-image: url(images/thinkitythink2.png);
    background-size: cover;
    /* background-position: center; */

    width: 100%;
    height: 500px;

    margin-bottom: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    margin-left: 2rem;
    color: #fefefe;
}

.hero__header {
  font-size: 50px;
  margin-bottom: 2rem;
}

.hero__subheading {
  font-family: 'Merienda', cursive;
  font-size: 22px;
}

/* Speech bubble  */
/* Source: https://codepen.io/t_afif/pen/eYMbrJN */
.bubble {
  visibility: visible;

    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */
    
    max-width: 200px;
    padding: calc(2*var(--r)/3);
    -webkit-mask: 
      radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
        var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
      conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
        calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
      radial-gradient(50% 50%,#000 98%,#0000 101%) 
        0 0/var(--r) var(--r) space padding-box;
    background: rgb(64, 156, 255);

    box-shadow: -1px 4px 20px 6px rgb(0, 0, 0, .25);

    position: absolute;
    top: 220px;
    right: 10px;
  }

  .left {
    --_d: 0%;
    border-left: var(--t) solid #0000;
    margin-right: var(--t);
  }

  .bubble--text {
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: #fefefe;
  }

  .bubble__header {
    margin-bottom: .5rem;
  }


/* Projekter */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.project {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background-color: rgb(200, 200, 200, 0.25);
    backdrop-filter: blur(20);
    
    width: 100%;

    color: #fefefe;
  }
  
  .github {
    text-decoration: none;
    font: bold;
    color: #fefefe;
    border-bottom: white thin solid;
  }

  .project:nth-child(1) {
    background-color: rgb(0, 162, 237, .5);
  }

  .project:hover {    
    box-shadow: 2px 3px 12px rgb(64, 156, 255, .5);
    filter: none;
}

.project__headline {
    margin-bottom: .25rem;
    color: #fefefe;
}

.project__about {
    padding: .5rem;
}

.project__header {
    margin-bottom: .5rem;
    
    width: 100%;
}

.project__body {
    margin-bottom: .5rem;
}

/* Ribbon */
.box {
    width: 100%; 
    height: fit-content;
    position: relative;
    background: rgb(250, 250, 250, .25);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
    cursor: pointer;
  }

  .box__image {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    filter: saturate(0.5);  
  }

  .box__image:hover {
    filter: none;  
  }

  .ribbon {
    --f: 10px; /* control the folded part*/
    --r: 15px; /* control the ribbon shape */
    --t: 10px; /* the top offset */
    
    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 5px 10px var(--f) calc(10px + var(--r));
    clip-path: 
      polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    background: white;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;

    height: 22px;
  }

  span {
    color: #282828;
    font-weight: bold;
    font-weight: 100;
  }

  /* .ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px; 
    height: 100px;
    text-align: right;
  } */
  
  /* .ribbon span {
    background: #2989d8;
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }

  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #1e5799;
    border-top: 3px solid #1e5799;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid #1e5799;
    border-top: 3px solid #1e5799;
  } */

  /* Footer */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  small {
    color: #fefefe;
  }

  /* Typewriter H1 */
  .line-1{
    position: relative;
    top: 50%; 

    width: fit-content;
   
    border-right: 2px solid rgba(255,255,255,.75);
    
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 5s steps(40) 1 normal both,
             blinkTextCursor 900ms steps(40) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 9.6em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}