@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=VT323&display=swap');

* {
    margin:0;
    padding: 0;
}

body {
    margin: 1rem;

    background: linear-gradient(133deg,#282828 ,#2d2d2d,#383838);
}

/* Hero */
.hero {
    box-shadow: 
    inset -8px -8px 20px #69359c,
    inset 4px 4px 20px #FF10F0;
    border-radius: 20px;
    background-image: url(images/thinkitythink2.webp);
    background-size: cover;
    /* background-position: center; */

    width: 100%;
    height: 500px;

    margin-bottom: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin-left: 2rem;
  color: #fefefe;
}

.hero__header {
  font-size: 50px;
}

.hero__subheading {
  font-family: 'Merienda', cursive;
  font-size: 22px;
}

/* Speech bubble  */
/* Source: https://codepen.io/t_afif/pen/eYMbrJN */
.bubble {
  visibility: visible;

    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */
    
    max-width: 200px;
    padding: calc(2*var(--r)/3);
    -webkit-mask: 
      radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
        var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
      conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
        calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
      radial-gradient(50% 50%,#000 98%,#0000 101%) 
        0 0/var(--r) var(--r) space padding-box;
    background: rgb(64, 156, 255);

    box-shadow: -1px 4px 20px 6px rgb(0, 0, 0, .25);

    position: absolute;
    top: 220px;
    right: 10px;
  }

  .left {
    --_d: 0%;
    border-left: var(--t) solid #0000;
    margin-right: var(--t);
  }

  .bubble--text {
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: #fefefe;
  }

  .bubble__header {
    margin-bottom: .5rem;
  }


/* Projekter */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin-bottom: 1.5rem;
}

.project {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background-color: rgb(200, 200, 200, 0.25);
    backdrop-filter: blur(20px);
    
    box-shadow: -2px -2px 20px rgb(20, 20, 20, .5);

    width: 100%;

    color: #fefefe;
  }
  
  .github {
    text-decoration: none;
    font: bold;
    color: #fefefe;
    border-bottom: white thin solid;
  }

  .project:nth-child(1) {
    background-color: rgb(0, 162, 237, .5);
  }

  .project:hover {    
    box-shadow: 
    -2px -2px 20px rgb(105, 53, 156);
    filter: none;
}

.project__headline {
    margin-bottom: .75rem;
    color: #fefefe;
}

.project__about {
    padding-left: .5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.project__header {
    margin-bottom: .5rem;
    
    width: 100%;
}

.project__body {
    margin-bottom: .5rem;
}

/* Ribbon */
.box {
    width: 100%; 
    height: fit-content;
    position: relative;
    background: rgb(250, 250, 250, .25);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
    cursor: pointer;
  }

  .box__image {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    filter: saturate(0.5);  
  }

  .box__image:hover {
    filter: none;  
  }

  .ribbon {
    --f: 10px; /* control the folded part*/
    --r: 15px; /* control the ribbon shape */
    --t: 10px; /* the top offset */
    
    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 5px 10px var(--f) calc(10px + var(--r));
    clip-path: 
      polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    background: white;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;

    height: 22px;
  }

  span {
    color: #282828;
    font-weight: bold;
    font-weight: 100;
  }


  /* - - - - - About me - - - - - */

  li {
    margin-left: 1rem;
  }

  .about {
    color: #fefefe;
    margin-bottom: 1.5rem;
  }

  .about__header {
    margin-bottom: .75rem;
  }

  .about__me {
    width: 100%;

    display: flex;
    gap: 2rem;

    background-color: rgb(240, 240, 240, 0.25);
    backdrop-filter: blur(20px);
    border-radius: .75rem;
  }

  .about__info {
    /* grid-column: 1; */

    display: flex;
    flex-direction: column;
    gap: .25rem;
  }

  .about__meBody:nth-child(1) {
    padding-top: .5rem;
    margin-bottom: .25rem;
  }

  .about__image {
    /* grid-column: 2; */

    border-radius: .75rem;
    width: 300px;
    height: 400px;
    box-shadow: -2px -2px 20px rgb(20, 20, 20, .5);
  }
  
  .about__image:hover {
    box-shadow: 
    -2px -2px 20px rgb(255, 16, 240, .5);
  }

  /* Footer */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  small {
    color: #fefefe;
  }

  /* Typewriter H1 */
  .line-1{
    position: relative;
    top: 50%; 

    width: fit-content;
   
    border-right: 2px solid rgba(255,255,255,.75);
    
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 5s steps(40) 1 normal both,
             blinkTextCursor 900ms steps(40) infinite normal;
}
@keyframes typewriter{
  from { 
    width: 0;
  }
  to {
    width: 9.6em;
  }
}
@keyframes blinkTextCursor{
  from {
    border-right-color: rgba(255,255,255,.75);
  }
  to {
    border-right-color: transparent;
  }
}