body {
    margin: 0;
    padding: 0;
}

/* header */
.header {
    background-color: var(--header-color);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: relative;
    width: 100vw;
    z-index: 3;
}

/* header- ul- listen */
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--header-color)
}

.header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: 0.4s;
}

.header ul a:hover {
    background-color: #b9bbbc;
}

/* header- logo */
.header .logo {
    width: auto;
    margin: 2px;
    padding: 15px;
    padding-right: 25px;
    float: right;
    display: block;
    font-size: 2em;

}

/* header- hamburger-menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: left;
    cursor: pointer;

}

/* header- hamburger- menu/ stregerne */
.header .menu-icon .nav-icon {
    background: var(--font-headercolor);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: var(--font-headercolor);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon::after {
    background: var(--font-headercolor);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

/* chek-box væk */
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 100vh;
}

/* header- hamburger- menu animation- så det bliver til et kryds/ stregerne */
.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

.myWork {
    background-image: url(images/background.jpg);
    background-size: 100vw;
    width: 100vw;
}

.myWork-header {
    font-family: "canva studentfont";
    display: flex;
    justify-content: center;
}

.portfolio-img {
    max-height: auto;
    max-width: auto;
}

.projects__img {
    padding-left: var(--spaceLarge);
    display: flex;
    flex-direction: row;
    gap: 5;
    height: 700px;
}

.projetcsImg {
    padding-top: 15px;
    width: fit-content;
}

.projects__video-instagram {
    padding-left: var(--spaceLarge);
    display: flex;
    gap: 5;
    width: 100%;
    overflow-x: scroll;
}

.projects__video-tiktok {
    padding-left: var(--spaceLarge);
    display: flex;
    flex-direction: row;
    gap: 5;
    max-height: 60%;
    max-width: 60%;
}

.projectsVideo {
    padding-left: var(--spaceLarge);
}

.projects__img-me {
    margin-left: var(--spaceLarge);
    display: flex;
    flex-direction: row;
    gap: 5;
    height: 600px;
}

.projetcsImg-me {
    padding-top: 15px;
    width: fit-content;
}

.product {
    margin-left: var(--spaceLarge);
    display: flex;
    flex-direction: row;
    gap: 5;
    height: 400px;
}

.productImg {
    padding-top: 15px;
    width: fit-content;
}



/* mobil-størrelse, med header-menu */
@media (min-width:48em) and (min-width:1024px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/* computer-størrelse */
@media screen and (min-width: 1025px) {
    .header .img-logo {
        height: 60px;
    }

    .pictureMe-img {
        width: 300px;
        height: auto;
    }

    .upperFooter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--footer-color);
        justify-items: center;
    }

    .footer__links li {
        padding: 0.5rem;
        display: inline-block;
    }

    .footer__socialMedia {
        align-self: center;
    }
}