.infoMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    grid-template-rows: 30px 250px auto;
}

.info {
    margin-left: 2rem;
}

.videoMe-video {
    margin: auto;
    padding: auto;
    margin-top: var(--spaceSmall);
}

.textme__header {
    grid-column: 2;
    grid-row: 1;
}

.textme__text {
    grid-column: 2;
    grid-row: 2;
}

.pictureMe__header {
    margin-top: 15%;
    grid-column: 1;
    grid-row: 3;
    margin-left: var(--spaceLarge);
}

.pictureMe-text {
    grid-column: 1;
    grid-row: 4;
    margin-left: var(--spaceLarge);
}

.pictureMe-img {
    max-width: 95%;
    max-height: 95%;
    border-radius: 50%;

    grid-column: 2;
    grid-row: 4;
}

.projects {
    width: 100%;
}

.projectsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__video {
    margin-left: var(--spaceLarge);
}

.projetcs__img {
    margin-left: var(--spaceLarge);
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 700px;

}

.projetcs__img-me {
    margin-left: var(--spaceLarge);
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 600px;
}

.projetcsImg {
    width: fit-content;
}

.projetcsImg-me {
    padding-top: 15px;
    width: fit-content;
}

.product {
    margin-left: var(--spaceLarge);
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 400px;
}

.productImg {
    padding-top: 15px;
    width: fit-content;
}

.project__video-instagram {
    display: flex;
    gap: 5px;
    width: 100%;
    overflow-x: scroll;
    margin-left: var(--spaceLarge);
}

.project__video-tiktok {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: var(--spaceLarge);
    max-height: 60%;
    max-width: 60%;
}

.projects__header {
    margin-left: var(--spaceLarge);
}




/* mobil-størrelse, med header-menu */
@media (min-width:48em) and (min-width:1024px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/* computer-størrelse */
@media screen and (min-width: 1025px) {
    .header .img-logo {
        height: 60px;
    }

    .pictureMe-img {
        width: 300px;
        height: auto;
    }

    .upperFooter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--footer-color);
        justify-items: center;
    }

    .footer__links li {
        padding: 0.5rem;
        display: inline-block;
    }

    .footer__socialMedia {
        align-self: center;
    }
}