:root,:root.light {
    --color-bg: #6e72ad;
    --color-fg: #000000;
  }
  
  :root.dark {
    --color-bg: #282828;
    --color-fg: #ffffff;
  }

* {
    box-sizing: border-box;
  }
    
  body {
    max-width: 1440px;
    max-height: 100vh;
    margin: auto;
  }
    
  /* Slider */
  .slider-wrapper {
    margin: 0;
    position: relative;
    overflow: hidden;
  }
    
  .slides-container {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
    scroll-snap-type: x mandatory; /* tilføjet for opgave B */
  }
    
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
    
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
    
  .slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
    
  .slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
    
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start; 

    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .slide:nth-child(1) {
    background-color: #6E91AD;
  }
    
  .slide:nth-child(2) {
    background-color: 	#6eadaa;
  }
    
  .slide:nth-child(3) {
    background-color: #ad8a6e;
  }
    
  .slide:nth-child(4) {
    background-color: var(--color-bg);
  }

  /* Slide 1 */

  .container__header {
    margin-bottom: 2rem;
    text-align: center;
  }

  .container {
    width: 150px;
  }

  .animation {
    width: 100%;
    margin-bottom: 1rem;
    animation: float 3s ease-out infinite;
  }
  
  .shadow {
    clip-path: ellipse(25% 40% at 50% 50%);
    background-color: rgb(40,40,40, .3);
    width: 150px;
    height: 15px;
    animation: shrink 3s ease-out infinite;
  }


/* Keyframes */

@keyframes float {
    50% {
        transform: translate(0, 20px);
     }
}

@keyframes shrink {
    0% {
        width: 90%;
        margin: 0 5%;
      }
      50% {
        width: 60%;
        margin: 0 18%;
      }
      100% {
        width: 90%;
        margin: 0 5%;
      }
}

/* Slide 2 */

.gsap {
    width: 100%;
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #da6f2b;
}

/* Slide 3 */
.surprise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
}
.tap {
    width: 200px;
    padding: .5rem;
    border: none;
    box-shadow: 2px 2px 12px rgba(40, 40, 40, 0.5);;

    border-radius: 4px;

    cursor: pointer;
}

.tap:active {
    box-shadow: none;
}

.hearts {
    position: absolute;
    visibility: hidden;
    width: 100px;
}


/* Slider 4: Checkbox animation */

#theme {
    font-size: 30px;
    
    text-align: center;
  }
  
  .switch {
      position: relative;
      display: inline-block;
      width: 200px;
      height: 100px;
  
      margin-bottom: 1.5rem;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #A6ABAE;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 80px;
      width: 80px;
      left: 10px;
      bottom: 10px;
      background-color: rgb(240, 240, 240);
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #4BD763;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #4BD763;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(96px);
    }
    
    .slider.round {
      border-radius: 50px;
    }
    
    .slider.round:before {
      border-radius: 50%;
      box-shadow: inset 6px 6px 20px rgb(120, 120, 120, .25);
      box-shadow: inset -6px -6px 25px rgb(40, 40, 40, .25);
  
    }