:root{
    --firstColor:#FDFFF7;
    --secondColor:#50514F;
    --thirdColor:#59FFA0;
    --fourthColor:#B4ADEA;
    --fithColor:#FFED65;
    --sixColor:#e3e5de;
    --linkedin:#0077b5;
    
    


    --mainText: 2.5rem;
    --secondText: 2rem;
    --breadText: 1.2rem;
    --smallText: 1rem;
    --tinyText: 0.8rem;


    --tinySpacing:0.5rem;
    --smallSpacing:1rem;
    --midSpacing:1.5rem;
    --bigSpacing:2rem;

    
}
