@import url(customprop.css);

body{
    margin:0;
    background-color: var(--firstColor);
    
}

.header{
   display: flex;
   flex-direction: column;
   margin-bottom: 0;
   background-color: var(--secondColor);
   position: relative;
}

.header__name{
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  margin-bottom: 0; 
  color: var(--firstColor);
}


.navList{
   display: flex;
   flex-direction: row;
justify-content: center;
text-decoration: none;

}
.navList__item{
   padding: var( --tinySpacing);  
   font-size: var(--breadText);
   margin-left: var(--tinySpacing);
   margin-right: var(--tinySpacing);
  
   
}


.navLinks{
    color: var(--firstColor);
}

.custom-shape-divider-bottom-1698172687 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.custom-shape-divider-bottom-1698172687 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
    
}

.custom-shape-divider-bottom-1698172687 .shape-fill {
    fill: var(--firstColor);
    
}


.main{
   
   margin: 0;
    width: 100%;
    
}
.headshot{
    display: none;
}

.project{
    color: var(--secondColor);
    
}
.projects__headline{
padding: var(--tinySpacing);
font-family: 'Outfit', sans-serif;
text-align: center;

}

.project__show{
    display: flex;
    flex-direction: column;
    gap: var(--tinySpacing);
    margin: var(--smallSpacing);
    
    
}
.project__styler{
    border: 1px solid black;
    border-radius: 0.3rem;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 0.2fr 1.8fr; 
    grid-template-areas: 
      "project__logo projectHeadlines"
      "project__logo project__tags"
      "button projectInfo"; 
      align-items: center;
      justify-items: center;
      
  }
.project__tags{
 font-size: var(--smallText);
 opacity: 60%;
 grid-area: project__tags ;
 margin: 0;
 margin-bottom: var(--tinySpacing);
}

.project__logo{
    height: 5rem;
    padding: var(--tinySpacing);
    grid-area: project__logo;
}
.project__projectHeadlines{
    font-family: 'Outfit', sans-serif;
    font-size: var(--breadText);
    grid-area: projectHeadlines;
    margin-bottom: 0;
}

.project__projectInfo{
    grid-area: projectInfo;
    margin:0;
    font-family: 'Zilla Slab', serif;
    font-size: var(--tinyText);
}
.project__button{
    grid-area:button;
    font-family: 'Zilla Slab', serif;
    width: 6rem;
    padding: 0.5rem;
    background-color: var(--firstColor);
    border-radius: 0.2rem;
    margin: var(--smallSpacing);
}

.custom-shape-divider-bottom-1698235614 {
    position: absolute;
    bottom: 2.8rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698235614 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 51px;
}

.custom-shape-divider-bottom-1698235614 .shape-fill {
    fill: #50514F;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--secondColor);
}
.footer__text{
    color: var(--firstColor);
    text-align: center;
    font-family: 'Outfit', sans-serif;

}


@media (min-width: 769px) {
    .headshot{
        display: flex;
        justify-content: center;        

    }
    .headshot__img{
        max-width: 50%;
    }
    .project__show {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        
    }
    
    .project__styler {
        border: 1px solid black;
        border-radius: 0.3rem;
        margin: var(--smallSpacing);
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    
    .project__logo {
        max-width: 100%; 
    }
    
    
}