:root{
    --firstColor:#FDFFF7;
    --secondColor:#50514F;
    --thirdColor:#59FFA0;
    --fourthColor:#B4ADEA;
    --fithColor:#FFED65;
    --sixColor:#e3e5de;
}

body{
    margin: 1rem;
    margin-top: 0;
    background-color: var(--firstColor);
    color: var(--secondColor);
}

.header{
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.header__name{
    font-family: 'Poppins', sans-serif;
    color: var(--secondColor);
    
}

.nav{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--secondColor);
    
}

.navList{
    display: flex;
    justify-content: center;
    
}
.navList__item{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0;
    margin: 1rem;
    transition: 0.2s;
    
    
}

.navList__item:hover{
    transform: scale(1.5);
}

.navList__itemLast{
    margin-right: 0;
}
.navLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.navIcon{
    font-size: 2rem;   
}

.pageMover{
    background-color: var(--fourthColor);
    border: none;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    font-size: 3rem;
    color: var(--firstColor);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.footer{

}



.page1{
    height: 100vh;
    

}
.page1Content{
    background-color: var(--sixColor);
    display: flex;
    margin: 0;
    justify-content: space-between;
    
    
}
.page1__img{
    max-width: 55rem;
    margin: 1rem;
}
.page1__text{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page1__textHeadline{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;

}
.page1__textTagline{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}