* {
    box-sizing: border-box;
}
    
body {
    max-width: 1440px;
    margin: auto;
    background-color: #96DEF8;
}
    
.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
    
.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
    scroll-snap-type: x mandatory;
}
    
.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: #96DEF8;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}
    
.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}
    
.slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}
    
.slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}
    
.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
    
.slide:nth-child(1) {
    background-color: #EEF6EE;
}
    
.slide:nth-child(2) {
    background-color: #EEF6EE;
}
    
.slide:nth-child(3) {
    background-color: #EEF6EE;
}
    
.slide:nth-child(4) {
    background-color: #EEF6EE;
}





/* Hjerte */
.load__heart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.load__heart .heart:nth-last-child(1) {
    animation: hearth 1.5s 0.3s linear infinite;
}
.load__heart .heart:nth-last-child(2) {
    animation: hearth 1.5s 0.6s linear infinite;
}
.load__heart .heart:nth-last-child(3) {
    animation: hearth 1.5s 0.9s linear infinite;
}
.heart {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #4b9cdb;
    clip-path: polygon(48% 27%, 57% 18%, 72% 15%, 81% 21%, 83% 32%, 48% 68%, 15% 33%, 18% 21%, 27% 15%, 40% 17%);
}
@keyframes hearth {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
}
/* */




/* Tandhjul */
.load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #f6f1f1;
}
  
.load-wrapp p {
    padding: 0 0 20px;
}
.load-wrapp:last-child {
    margin-right: 0;
}
.ring-1 {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.load-4 .ring-1 {
    animation: gears 2.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
.l-4 {
    animation-delay: 0.84s;
}
@keyframes gears {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
/* */




/* Luftballon */
.loading__container {
    width: 100%;
    height: 18rem;
}
.load-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 80%;
}
.line {
    display: inline-block;
    width: 180px;
}
.load-3 .line:nth-last-child(1) {
    animation: airballoon 2.9s 0.2s linear infinite;
}
.l-3 {
    animation-delay: 0.45s;
}
@keyframes airballoon {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 40px);
    }
    100% {
      transform: translate(0, 0);
    }
}
.shadow {
    clip-path: ellipse(25% 40% at 50% 50%);
    background-color: rgb(40, 40, 40, .3);
    width: 150px;
    height: 15px;
    display: flex;

    animation: shrink 2.9s ease-out infinite;
    animation-delay: 0.45s;
}
@keyframes shrink {
    0% {
        width: 150px;
        margin: 0 5%;
    }
    50% {
        width: 100px;
        margin: 0 18%;
    }
    100% {
        width: 150px;
        margin: 0 5%;
    }
}
/* */





/* Stjerner */
.load-wrapp__stars {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.load-wrapp p {
    padding: 0 0 20px;
}
.load-wrapp:last-child {
    margin-right: 0;
}

.star1 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 15px;
}
.star2 {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 15px;
}
.star3 {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 15px;
}
.star4 {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 15px;
}
.star5 {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 15px;
}

.load-8 .star1 {
    animation: star1 2.5s cubic-bezier(0.1, 0.3, 0.83, 0.67) infinite;
}
.load-8 .star2 {
    animation: star2 2.9s cubic-bezier(0.1, 0.3, 0.83, 0.67) infinite;
}
.load-8 .star3 {
    animation: star3 2.9s cubic-bezier(0.1, 0.3, 0.83, 0.67) infinite;
}
.load-8 .star4 {
    animation: star4 1.6s cubic-bezier(0.1, 0.3, 0.83, 0.67) infinite;
}
.load-8 .star5 {
    animation: star5 2.9s cubic-bezier(0.1, 0.3, 0.83, 0.67) infinite;
}
@keyframes star1 {
    0% {
      width: 20px;
    }
    50% {
      width: 60px;
      padding: 4px;
    }
    100% {
      width: 20px;
    }
}
@keyframes star2 {
    0% {
        width: 20px;
        opacity: 25%;
    }
    25% {
        width: 30px;
        opacity: 75%;
    }
    50% {
        width: 40px;
        opacity: 100%;
    }
    75% {
        width: 30px;
        opacity: 75%;
    }
    100% {
        width: 20px;
        opacity: 25%;
    }
}
@keyframes star3 {
    0% {
      width: 40px;
    }
    50% {
      width: 90px;
      padding: 4px;
    }
    100% {
      width: 40px;
    }
}
@keyframes star4 {
    0% {
      width: 20px;
    }
    50% {
      width: 70px;
      padding: 4px;
    }
    100% {
      width: 20px;
    }
}
@keyframes star5 {
    0% {
        width: 20px;
        opacity: 25%;
    }
    25% {
        width: 40px;
        opacity: 75%;
    }
    50% {
        width: 60px;
        opacity: 100%;
    }
    75% {
        width: 40px;
        opacity: 75%;
    }
    100% {
        width: 20px;
        opacity: 25%;
    }
}