@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
:root {
    /*color*/
    --background-color: #EEF6EE;
    --accent-color: #96DEF8;
    --text-color: black;

    /*text*/
    --fontSizeXSmall: calc(var(--fontSizeMedium)/2);
    --fontSizeSmall: calc(var(--fontSizeMedium)/1.5);
    --fontSizeMedium: 1.2rem;
    --fontSizeLarge: calc(var(--fontSizeMedium)*1.5);
    --fontSizeXLarge: calc(var(--fontSizeMedium)*2);
    --fontSizeXXLarge: calc(var(--fontSizeMedium)*2.5);
    --font-family: 'Kalam', cursive;

    /*spacing*/
    --spaceXSmall: calc(var(--fontSizeMedium)/2);
    --spaceSmall: calc(var(--fontSizeMedium)/1.5);
    --spaceMedium: 1rem;
    --spaceLarge: calc(var(--fontSizeMedium)*1.5);
    --spaceXLarge: calc(var(--fontSizeMedium)*2);
}
h1, h2, h3, h4, h5, h6, p {
    font-family: var(--font-family);
}


body {
    background-color: #EEF6EE;
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main {
    position: relative;
    margin: 0;
}
footer {
    background: var(--accent-color);
    padding: 1rem;
    margin: 0;
}


/* Loading screen */
.preloader {
    background: var(--background-color) url(images/airballoon.gif) no-repeat center center;
    background-size: 35%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
}


/*.loading__screen {
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--background-color);
}
.loading__text {
    text-align: center;
    margin-top: 6rem;
}
.load-wrapp {
    margin: auto;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
}
.load-wrapp p {
    padding: 0 0 20px;
}
.load-wrapp:last-child {
    margin-right: 0;
}
.line {
    display: inline-block;
    width: 180px;
}
.loading__container {
    width: 100%;
    height: 20rem;
}
.load-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 80%;
}
.load-3 .line:nth-last-child(1) {
    animation: loadingC 2.9s 0.2s linear infinite;
}
/*.l-3 {
    animation-delay: 0.45s;
}
@keyframes loadingC {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 40px);
    }
    100% {
      transform: translate(0, 0);
    }
}*/

.shadow {
    clip-path: ellipse(25% 40% at 50% 50%);
    background-color: rgb(40, 40, 40, .3);
    width: 150px;
    height: 15px;
    display: flex;

    animation: shrink 2.9s ease-out infinite;
    animation-delay: 0.45s;
}
@keyframes shrink {
    0% {
        width: 150px;
        margin: 0 5%;
    }
    50% {
        width: 100px;
        margin: 0 18%;
    }
    100% {
        width: 150px;
        margin: 0 5%;
    }
}
/* */




/* Earth */
.load-5 .ball-holder {
    animation: loadingE 8.3s linear infinite;
  }
  .load-5 {
    margin-top: 2rem;
    position: absolute;
    z-index: -1;
  }


  .ring-2 {
    position: relative;
    width: 400px;
    height: 225px;
    margin: 0 auto;
    border: 4px solid #96DEF8;;
    border-radius: 100%;
    transform: rotate(15deg);
  }
  .ball-holder {
    position: absolute;
    display: flex;
    width: 400px;
    height: 225px;
    left: 25px;
    top: 0px;
    justify-content: center;
  }
  .ball {
    position: absolute;
    top: 90px;
    left: 60px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #4282b3;
  }


  @keyframes loadingE {
    0% {
        transform: rotate(0deg);
        top: -20px;
        left: -100px;
    }
    50% {
        top: -60px;
        left: 100px;
    }
    100% {
        transform: rotate(360deg);
        top: -20px;
        left: -100px;
    }
  }
/* */











/*.profile__dias {
    max-width: 100%;
}*/

/* okay nvm med clip-path 
div[class] {
    display:inline-block;
    width: 100%;
    filter:url(#round);
    margin: -1rem;
}
.hexagone::before {
    content:"";
    display:block;
    padding-top:86.6%;
    background:url('images/full_profile.png') center/cover;
    clip-path: polygon(0% 0%, 0% 95%, 8% 91%, 18% 87%, 28% 86%, 37% 89%, 45% 93%, 54% 93%, 65% 90%, 70% 84%, 76% 74%, 75% 61%, 72% 49%, 73% 36%, 78% 26%, 83% 17%, 89% 7%, 90% 0%);
}
*/




/*  ----  Baggrunds animationer  ----  */

/* Stjerner */
.random__starPlacement {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    position: absolute;
    z-index: -1;
    top: -5rem;
}

.load-wrapp {
    float: left;
    width: 140px;
    height: 90px;
    text-align: center;
    background-color: var(--background-color);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.star1 {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.star2 {
    display: inline-block;
    width: 80px;
    height: 100px;
}
.star3 {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.star4 {
    display: inline-block;
    width: 64px;
    height: 106px;
}

.star_1 {
    grid-column: 2;
    grid-row: 1;
}
.star_2 {
    grid-column: 3;
    grid-row: 1;
}
.star_3 {
    grid-column: 7;
    grid-row: 1;
}
.star_4 {
    grid-column: 9;
    grid-row: 1;
}
.star_5 {
    grid-column: 1;
    grid-row: 2;
}
.star_6 {
    grid-column: 4;
    grid-row: 2;
}
.star_7 {
    grid-column: 5;
    grid-row: 2;
}
.star_8 {
    grid-column: 7;
    grid-row: 2;
}
.star_9 {
    grid-column: 2;
    grid-row: 3;
}
.star_10 {
    grid-column: 8;
    grid-row: 3;
}
.star_10_1 {
    grid-column: 9;
    grid-row: 3;
}
.star_11 {
    grid-column: 1;
    grid-row: 4;
}
.star_12 {
    grid-column: 3;
    grid-row: 4;
}
.star_13 {
    grid-column: 8;
    grid-row: 4;
}
.star_14 {
    grid-column: 2;
    grid-row: 5;
}
.star_15 {
    grid-column: 6;
    grid-row: 5;
}
.star_16 {
    grid-column: 9;
    grid-row: 5;
}
.star_17 {
    grid-column: 1;
    grid-row: 6;
}
.star_18 {
    grid-column: 7;
    grid-row: 6;
}
.star_19 {
    grid-column: 2;
    grid-row: 7;
}
.star_20 {
    grid-column: 4;
    grid-row: 7;
}
.star_21 {
    grid-column: 6;
    grid-row: 7;
}
.star_22 {
    grid-column: 9;
    grid-row: 7;
}
.star_23 {
    grid-column: 2;
    grid-row: 8;
}
.star_24 {
    grid-column: 5;
    grid-row: 8;
}
.star_25 {
    grid-column: 8;
    grid-row: 8;
}
.star_26 {
    grid-column: 9;
    grid-row: 8;
}
.star_27 {
    grid-column: 1;
    grid-row: 9;
}
.star_28 {
    grid-column: 3;
    grid-row: 9;
}
.star_29 {
    grid-column: 6;
    grid-row: 9;
}
.star_30 {
    grid-column: 7;
    grid-row: 9;
}

.load-8 .star1 {
    animation: star1 2.5s cubic-bezier(0.1, 0.3, 0.83, 0.67) infinite;
}
.load-8 .star2 {
    animation: star2 1.9s cubic-bezier(0.1, 0.3, 0.83, 0.67) infinite;
}
.load-8 .star3 {
    animation: star3 1.9s cubic-bezier(0.1, 0.3, 0.83, 0.67) infinite;
}
.load-8 .star4 {
    animation: star4 2.9s cubic-bezier(0.1, 0.3, 0.83, 0.67) infinite;
}
@keyframes star1 {
    0% {
        height: 15px;
    }
    50% {
        height: 30px;
    }
    100% {
        height: 15px;
    }
}
@keyframes star2 {
    0% {
        height: 70px;
        opacity: 25%;
    }
    25% {
        opacity: 75%;
    }
    50% {
        height: 80px;
        opacity: 100%;
    }
    75% {
        opacity: 75%;
    }
    100% {
        height: 70px;
        opacity: 25%;
    }
}
@keyframes star3 {
    0% {
        height: 30px;
    }
    50% {
        height: 60px;
    }
    100% {
        height: 30px;
    }
}
@keyframes star4 {
    0% {
        height: 40px;
    }
    50% {
        height: 80px;
    }
    100% {
        height: 40px;
    }
}




/* Skyer */
.sky__placement {
    position: absolute;
    z-index: -1;
}
.square-holder {
    margin: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.square__top {
    width: 160px;
    height: 160px;
    border-radius: 4px;
}
.load-7 .square__top {
    animation: square__top 35s cubic-bezier(0.90, 0.80, 0.80, 0.90) infinite;
}
@keyframes square__top {
    0% {
      transform: translate(10px, 0);
    }
    50% {
      transform: translate(900px, 0);
    }
    100% {
      transform: translate(10px, 0);
    }
}

.square__middle {
    width: 130px;
    height: 130px;
    border-radius: 4px;
}
.load-7 .square__middle {
    animation: square__middle 41s cubic-bezier(0.90, 0.80, 0.80, 0.90) infinite;
}
@keyframes square__middle {
    0% {
      transform: translate(900px, 0);
    }
    50% {
      transform: translate(10px, 0);
    }
    100% {
      transform: translate(900px, 0);
    }
}

.square__bottom {
    width: 180px;
    height: 180px;
    border-radius: 4px;
}
.load-7 .square__bottom {
    animation: square__bottom 30s cubic-bezier(0.90, 0.80, 0.80, 0.90) infinite;
}
@keyframes square__bottom {
    0% {
      transform: translate(10px, 0);
    }
    50% {
      transform: translate(900px, 0);
    }
    100% {
      transform: translate(10px, 0);
    }
}




/* Bølge */
.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
  
.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: #96DEF8;
}
/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
}




















/* Header */
.profile__images {
    max-width: 100%;
}
.profile__info {
    text-align: center;
    margin: auto;
}
.info__name {
    font-size: var(--fontSizeXXLarge);
    margin: 0.2rem;
}
.info__carrer {
    font-size: var(--fontSizeXLarge);
    margin: 0.2rem;
}
.info__tagline {
    font-size: var(--fontSizeLarge);
    margin: 0.2rem;
}

.skills {
    text-align: center;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 4rem;
    padding-bottom: 4rem;
}
.skills__header {
    font-size: var(--fontSizeLarge);
    padding-top: 4rem;
}
.skills__programs {
    margin: auto;
    width: 50%;
    padding: 20px;
}
.skills__experience {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem;
}
.project {
    padding: 2rem;
}
.project__image {
    max-width: 40vh;
    border-radius: 15%;
}



/* */
.custom-btn {
    max-width: 40vh;
    max-height: 40vh;
    border-radius: 15%;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    position: relative;
}

.btn-3 {
    padding: 0;
    border: none;
    border-radius: 15%;
}
.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 1;
    background: #96DEF8;
    transition: all 0.3s ease;
}
.btn-3:before {
    height: 0%;
    width: 10px;
}
.btn-3:after {
    width: 0%;
    height: 10px;
}
.btn-3:hover:before {
    height: 100%;
}
.btn-3:hover:after {
    width: 100%;
}
.btn-3 span:hover{
    color: #96DEF8;
 }
.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    z-index: 1;
    background: #96DEF8;
    transition: all 0.3s ease;
}
.btn-3 span:before {
    width: 10px;
    height: 0%;
}
.btn-3 span:after {
    width: 0%;
    height: 10px;
}
.btn-3 span:hover:before {
    height: 100%;
}
.btn-3 span:hover:after {
    width: 100%;
}
.btn-3:hover .project__image {
    filter: blur(4px);
}
.project__text {
    display: none;
    position: absolute;
    z-index: 1;
    color: black;
    font-size: var(--fontSizeMedium);
    font-weight: bold;
    top: 50%; /* Placer elementets top på 50% af knappens højde */
    left: 50%; /* Placer elementets venstre kant på 50% af knappens bredde */
    transform: translate(-50%, -50%); /* Centrer elementet både horisontalt og vertikalt */
    margin: 0;
}

.btn-3:hover .project__text {
    display: block;
}


.ribbon {
    --f: 10px; /* control the folded part*/
    --r: 10px; /* control the ribbon shape */
    --t: 15px; /* the top offset */

    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 5px 10px var(--f) calc(10px + var(--r));
    clip-path: polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%, calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)), var(--r) calc(50% - var(--f)/2));
    background: var(--accent-color);
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;

    height: 22px;
    transition: opacity 0.2s ease;
}
.btn-3:hover .ribbon {
    opacity: 0;
}


/**/

.skills__programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.programs__logo {
    max-width: 10%;
    border-radius: 15%;
    margin: 1rem;
}

.wave {
    width: 100%;
    margin-bottom: -1rem;
}


.footer__header {
    text-align: center;
    font-size: var(--fontSizeLarge);
}
.findme {
    text-align: center;
}
.fineme__some {
    max-width: 5%;
    padding: .5rem;
}


@media screen and (max-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
    }
    .profile__images {
        max-width: 95%;
    }
    .info__name {
        font-size: var(--fontSizeXLarge);
        margin: 0.2rem;
    }


    .project {
        padding: 1rem;
    }
    .project__image {
        max-width: 30vh;
        border-radius: 15%;
    }


    .skills {
        text-align: center;
        background-image: url('images/stars_background.png');
        background-repeat: repeat;
        background-size: 100%;
        background-position: center;
        margin: 2rem;
    }
    .skills__header {
        font-size: var(--fontSizeLarge);
        padding-top: .5rem;
    }
    .skills__programs {
        width: 90%;
        padding: 10px;
    }
    .skills__experience {
        width: 90%;
        padding: 10px;
    }
}