@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
:root {
    /*color*/
    --background-color: #EEF6EE;
    --accent-color: #96DEF8;
    --text-color: black;

    /*text*/
    --fontSizeXSmall: calc(var(--fontSizeMedium)/2);
    --fontSizeSmall: calc(var(--fontSizeMedium)/1.5);
    --fontSizeMedium: 1.2rem;
    --fontSizeLarge: calc(var(--fontSizeMedium)*1.5);
    --fontSizeXLarge: calc(var(--fontSizeMedium)*2);
    --fontSizeXXLarge: calc(var(--fontSizeMedium)*2.5);
    --font-family: 'Kalam', cursive;

    /*spacing*/
    --spaceXSmall: calc(var(--fontSizeMedium)/2);
    --spaceSmall: calc(var(--fontSizeMedium)/1.5);
    --spaceMedium: 1rem;
    --spaceLarge: calc(var(--fontSizeMedium)*1.5);
    --spaceXLarge: calc(var(--fontSizeMedium)*2);
}
h1, h2, h3, h4, h5, h6, p {
    font-family: var(--font-family);
}


body {
    background-color: #EEF6EE;
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main {
    position: relative;
    margin: 0;
}
footer {
    background: var(--accent-color);
    padding: 1rem;
    margin: 0;
}
/*.profile__dias {
    max-width: 100%;
}*/

/* okay nvm med clip-path 
div[class] {
    display:inline-block;
    width: 100%;
    filter:url(#round);
    margin: -1rem;
}
.hexagone::before {
    content:"";
    display:block;
    padding-top:86.6%;
    background:url('images/full_profile.png') center/cover;
    clip-path: polygon(0% 0%, 0% 95%, 8% 91%, 18% 87%, 28% 86%, 37% 89%, 45% 93%, 54% 93%, 65% 90%, 70% 84%, 76% 74%, 75% 61%, 72% 49%, 73% 36%, 78% 26%, 83% 17%, 89% 7%, 90% 0%);
}
*/
.profile__images {
    max-width: 100%;
}
.profile__info {
    text-align: center;
    margin: auto;
}
.info__name {
    font-size: var(--fontSizeXXLarge);
    margin: 0.2rem;
}
.info__carrer {
    font-size: var(--fontSizeLarge);
    margin: 0.2rem;
}
.info__tagline {
    font-size: var(--fontSizeMedium);
    margin: 0.2rem;
}

.skills {
    text-align: center;
    background-image: url('images/stars_background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 4rem;
}
.skills__header {
    font-size: var(--fontSizeLarge);
    padding-top: 4rem;
}
.skills__programs {
    margin: auto;
    width: 50%;
    padding: 20px;
}
.skills__experience {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem;
}
.project {
    padding: 2rem;
}
.project__image {
    max-width: 40vh;
    border-radius: 15%;
}



/* */
.custom-btn {
    max-width: 40vh;
    max-height: 40vh;
    border-radius: 15%;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    position: relative;
}

.btn-3 {
    padding: 0;
    border: none;
    border-radius: 15%;
}
.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 1;
    background: #96DEF8;
    transition: all 0.3s ease;
}
.btn-3:before {
    height: 0%;
    width: 10px;
}
.btn-3:after {
    width: 0%;
    height: 10px;
}
.btn-3:hover:before {
    height: 100%;
}
.btn-3:hover:after {
    width: 100%;
}
.btn-3 span:hover{
    color: #96DEF8;
 }
.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    z-index: 1;
    background: #96DEF8;
    transition: all 0.3s ease;
}
.btn-3 span:before {
    width: 10px;
    height: 0%;
}
.btn-3 span:after {
    width: 0%;
    height: 10px;
}
.btn-3 span:hover:before {
    height: 100%;
}
.btn-3 span:hover:after {
    width: 100%;
}
.btn-3:hover .project__image {
    filter: blur(4px);
}
.project__text {
    display: none;
    position: absolute;
    z-index: 1;
    color: black;
    font-size: var(--fontSizeMedium);
    font-weight: bold;
    top: 50%; /* Placer elementets top på 50% af knappens højde */
    left: 50%; /* Placer elementets venstre kant på 50% af knappens bredde */
    transform: translate(-50%, -50%); /* Centrer elementet både horisontalt og vertikalt */
    margin: 0;
}

.btn-3:hover .project__text {
    display: block;
}


.ribbon {
    --f: 10px; /* control the folded part*/
    --r: 10px; /* control the ribbon shape */
    --t: 15px; /* the top offset */

    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 5px 10px var(--f) calc(10px + var(--r));
    clip-path: polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%, calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)), var(--r) calc(50% - var(--f)/2));
    background: var(--accent-color);
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;

    height: 22px;
    transition: opacity 0.2s ease;
}
.btn-3:hover .ribbon {
    opacity: 0;
}


/**/

.skills__programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.programs__logo {
    max-width: 10%;
    border-radius: 15%;
    margin: 1rem;
}

.wave {
    width: 100%;
    margin-bottom: -1rem;
}

.footer__header {
    text-align: center;
    font-size: var(--fontSizeLarge);
}
.findme {
    text-align: center;
}
.fineme__some {
    max-width: 5%;
    padding: .5rem;
}


@media screen and (max-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
    }
    .profile__images {
        max-width: 95%;
    }
    .info__name {
        font-size: var(--fontSizeXLarge);
        margin: 0.2rem;
    }


    .project {
        padding: 1rem;
    }
    .project__image {
        max-width: 30vh;
        border-radius: 15%;
    }


    .skills {
        text-align: center;
        background-image: url('images/stars_background.png');
        background-repeat: repeat;
        background-size: 100%;
        background-position: center;
        margin: 2rem;
    }
    .skills__header {
        font-size: var(--fontSizeLarge);
        padding-top: .5rem;
    }
    .skills__programs {
        width: 90%;
        padding: 10px;
    }
    .skills__experience {
        width: 90%;
        padding: 10px;
    }
}