@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

:root {
  --mainColor:#222224;
  --secondaryColor:#c6a905d4;
  --tetriaryColor:#DF0815;
  --quaternaryColor:#D9D9D9;
  
  --fontDefault:1rem;
  --fontTwo:calc(var(--fontDefault)*2);    /*32*/
  --fontThree:calc(var(--fontDefault)*3);     /*48*/
  --fontFour:calc(var(--fontDefault)*4);  
  --fontFive:calc(var(--fontDefault)*5);
  --fontSix:calc(var(--fontDefault)*6);
  
  
  --spaceDefault:1rem;
  --spaceXs:calc(var(--spaceDefault)/2); /*8px*/
  --spaceS:calc(var(--spaceDefault)*2);  /*32*/
  --spaceM:calc(var(--spaceDefault)*3);   /**48 */
  --spaceL:calc(var(--spaceDefault)*4);  /**64 */
  --spaceXL:calc(var(--spaceDefault)*5); /** */


  --dark-blue: #1F4782;
  --dark-gray: #303335;
  --golden: #AB834C;
  --golden-tainoi: #E9BE71;
  --gray: #818C96;
  --white: #FFF;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
  body{
    background-color:var(--mainColor) ;
    background: #313131;  /* fallback for old browsers */
background: -webkit-linear-gradient(to LEFT, #2d2d2d, #7c7b7b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to LEFT, #313131, #101010); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: poppins;
    font-size:1.1rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color:var(--quaternaryColor);
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: 100%;
    flex:1;
    flex-grow: 1;
    min-height: 100vh;
  
  
  
  }

/** intro section/** intro first page  field */ 
.main-content{
  padding-left: 7vw;
  padding-right: 7vw;

}
.hero-page{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  justify-content: center;
  height: 100vh;
  margin-bottom: 8rem;
 

 


}

.intro-headline{
  padding-left: 2.5rem;
  font-size: 3vw;
  font-family: 'Khand', sans-serif;
  letter-spacing: 8px;
  display:block;
  width: 24vw;
  position: absolute;
  top: 2rem;
  left: 0;
  background-color:var(--tetriaryColor);


  

 
}
.intro-field{
  display: flex;
  flex-direction: row;
  align-items: center;

  
  

}


.intro-name{
  font-weight: 100;
  font-size: 2.5rem;
  position: relative;
  

 
}

.specialisation{
  font-size:7rem;
  font-weight: 600;
  color: var(--secondaryColor);
  font-family: 'Khand', sans-serif;
  color: var(--quaternaryColor);
 


}

.specialisation-designer{
  position: relative;
  font-size:5.5rem;
  font-weight: 600;
  color: var(--secondaryColor);
  color: var(--quaternaryColor);
  font-family: 'Khand', sans-serif;
  margin-bottom: 2rem;
  text-align: right;
  line-height: 73%;

}
/*
.specialisation-designer::before {
  content: "";
  display: inline-block;
  width: 2rem; 
  height: 2rem; 
  background-color: var(--tetriaryColor);
  border-radius: 50%; 
  position: absolute;
  top: 50%;
  left: 19vw; 
  transform: translateY(-50%);
}

/*  pseudo-element 3 dots */
.specialisation-designer::before {
  height: 110%;
  content: url(img/dots.png);
  position: absolute;
  top: 50%;
  left: 14vw; /* Przesunięcie pseudo-elementu w lewo */
  transform: translateY(-50%);

}

 .headline-content-creator{
  background-color: var(--secondaryColor);
  color: var(--dark-gray);
  padding: .3rem ;
  padding-left: .8rem;
  letter-spacing: 6px;
  opacity: 90%;
  margin-bottom:1.8rem ;
  font-size: 1.4rem;



 }


.tagline{
  font-size:2.5vw;
  font-weight: 100;
  font-family: 'Khand', sans-serif;
  font-family: poppins;
  font-weight: 200;
  text-align: left;
  letter-spacing: 3px;


 
 }
/** line next to tagline */
.tagline {
  position: relative; /* Ustawienie pozycji rodzica na relative */
}


.tagline::after{
  content:"";
  background-image: url('img/heart-portfolio.png'); /* Ścieżka do obrazka */
  display: inline-block; /* Ustawienie na inline-block, aby obrazek zachowywał się jak element inline */
  width: 1.8vw; /* Szerokość obrazka */
  height: 1.8vw; /* Wysokość obrazka */
  margin-left: 10px;
  background-size: cover; /* Dostosuj rozmiar obrazka do pseudo-elementu */
  vertical-align: middle; /* Wyśrodkowanie obrazka w pionie */
  /*animation: pulse 2s infinite; /* Użyj animacji 'pulse' przez 2 sekundy, bez końca */
  animation: pulse 2s infinite, appear 3s; 
 
}


@keyframes pulse {
  0% {
    transform: scale(.9);

  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(.9);

  }
}
.img-me{
  max-width: 100%;
  width: 34vw;
  height: auto;
  object-fit: scale-down;
  filter: brightness(80%);
  padding-left: 3rem;
 



 
}
/** cursor pointer*/
#mouse-cursor {
  position: absolute;
  width: 36px;
  height: 36px;
  border: solid 1.3px var(--tetriaryColor);
  border-radius: 999px;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 999;
  transition: top 0.025s ease, left 0.025s ease, transform 0.25s ease;
}


/** typing text */
.hidden {
  display: none; /* Ukryj element na początku */
}

#typing-text {
  overflow: hidden; /* Ukryj nadmiarowy tekst */
  white-space: nowrap; /* Zapobiegnij zawijaniu tekstu */
  animation: typing 3s steps(40) infinite, blink-caret 0.75s step-end infinite; /* Animacja tekstu i "kursora" */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {

  }
}
/** dots line */
.content-creator-paragraph {
  font-size: var(--fontTwo);
  position: relative;
  text-align: center;
  padding: 0 1rem; /* Dopasuj do swoich potrzeb */
  color:var(--secondaryColor);
  overflow: hidden;
  text-align: center;
  font-weight:300;
  
}

.dots-left,
.dots-right {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 2px dotted;

  
}

.dots-left {
  left: 0;
}

.dots-right {
  margin: 0 -55% 0 .5em;
}


/** About me ---> About me */
.about{
  display: grid;
  grid-template-columns: 30% auto;
  gap: 3rem;
  align-self: center;
  border: var(--secondaryColor) 2px ;
  border-style: dotted;
  padding-right: 4px;
  margin-bottom: 8rem;
  background-color: var(--mainColor);

}
.video-inspired{
  max-width: 100%;
  height: auto; 
  padding: var(--spaceDefault);

}
.about-me-headline{
  font-size: var(--fontThree);
}
.about-me-headline::first-letter {
  font-size: 5rem;

}
.text-indent{ 
  text-indent:var(--spaceM);
}
.about-me-second-paragraph{
  margin-bottom:22px;
}

/** Ends ---> About-me Ends ---> About-meEnds  */



/* Card container */
.blog-card {
  display: flex;
  flex-direction: column;
  margin:2vh auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  line-height: 1.45;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 2.5vh;
}



.blog-card a:hover {
  color: #ffc400;
}

.blog-card:hover .photo {
  transform: scale(1.15) rotate(2deg);
}

/* Meta container */
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;

}

/* Photo container */
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform .2s;

}

/* Description container */
.blog-card .description {
  padding: 1rem;
  background:var(--mainColor);
  position: relative;
  z-index: 1;
}


.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
  color: var(--tetriaryColor);
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--quaternaryColor);
  margin-top: 5px;
}

/* Read more link */
.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: var(--secondaryColor);
  font-size: 16px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 15px;
}

.blog-card .description .read-more a:after {
  content: "\f054";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

/* Paragraph styles */
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
  font-size: 13px;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 3px;
  background:var(--secondaryColor);
  width: 75px;
  top: -1rem;
  border-radius: 3px;
}


/*
.alt{

}*/




/** last */


.general-container {
  display: flex;
  height: 30rem;
  margin: 0 auto;
  max-width: 100%;
  width: 70rem;
}

.radio {
  display: none;
}

.content {
  background: var(--white)
  url(img/abc.png)
  100% / cover no-repeat;
  border-radius: 3rem;
  cursor: pointer;
  flex: 1;
  margin-right: 0.8rem;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.content:hover {
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, , 0, 0.3);
}
/*
.icon {
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  bottom: 1rem;
  color: var(--golden-tainoi);
  display: flex;
  font-size: 1.5rem;
  height: 2.5rem;
  justify-content: center;
  left: 1.1rem;
  position: absolute;
  width: 2.5rem;
}*/

.content:nth-of-type(2) {
  background-image: url('https://images.unsplash.com/photo-1444384851176-6e23071c6127?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80');
}

.content:nth-of-type(3) {
  background-image: url('https://images.unsplash.com/photo-1482406611936-43ea538e39d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2110&q=80');
}

.content:nth-of-type(4) {
  background-image: url('https://images.unsplash.com/photo-1483663167873-0cfcc893b78c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2096&q=80');
}

.content:nth-of-type(5) {
  background-image: url('https://images.unsplash.com/photo-1475116127127-e3ce09ee84e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
  margin-LEFT: 0;
}

.content:nth-of-type(2) .icon {
  color: var(--dark-gray);
}

.content:nth-of-type(3) .icon {
  color: var(--dark-blue);
}

.content:nth-of-type(4) .icon {
  color: var(--gray);
}

.content:nth-of-type(5) .icon {
  color: var(--golden);
}

.card-title {
  bottom: 1.2rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  left: 4.5rem;
  line-height: 1.1;
  opacity: 0;
  position: absolute;
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  transform: translateX(2rem);
  transition: 290ms cubic-bezier(0.05, 0.61, 0.41, 0.95) 300ms;
  transition-property: opacity, transform;
  user-select: none;
  white-space: nowrap;
}

.subtitle {
  font-size: 0.9rem;
}

/* Effect */
.radio:checked + .content {
  border-radius: 2rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
  flex: 10;
}

.radio:checked + .content > .card-title {
  opacity: 1;
  transform: translateX(0);
}



/** Instagram */
.instagram-images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:8px;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;

}


.instagram-item {
 height: 60vh ;
 object-fit: scale-down;


}



.instagram-videos{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8vw;

}









/* Media query for larger screens */
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    color: var(--quaternaryColor);
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }

  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background:var(--mainColor);
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .blog-card.alt {
    flex-direction: row-reverse;
  }

  .blog-card.alt .description:before {
    left: inherit;
    LEFT: -10px;
    transform: skew(3deg);
  }

  .blog-card.alt .details {
    padding-left: 25px;
  }

  .blog-card p {
    font-size: 16px;
  }
}

/**Photo by <a href="https://unsplash.com/@campaign_creators?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Campaign Creators</a> on <a href="https://unsplash.com/photos/yktK2qaiVHI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */